@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.home {
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(158, 227, 249, 1) 0%,
    rgba(99, 231, 125, 1) 100%
  );
  width: 100vw;
  justify-content: center;
  position: relative;
  animation: home;
  animation-duration: 0.5s;
}
@keyframes home {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home__welcome {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -400px;
  width: 500px;
  font-family: "Roboto", sans-serif;
  opacity: 0;
  color: #16c79a;
  background-color: #19456b;
  border-radius: 10px;
  animation-name: welcome;
  height: 440px;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@keyframes welcome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  from {
    top: -400px;
  }
  to {
    top: 10rem;
  }
}

.app__title {
  margin: 25% 25% 1rem 25%;
  display: flex;
  justify-content: center;
  font-size: larger;
}

.app__links {
  display: flex;
  justify-content: center;
  padding: 2px;
}

.app__links > button {
  border: none;
  background-color: white;
  padding: 10px 2rem;
  border-radius: 5px;
  margin: 1rem;
  transition: background-color 0.5s;
}

.app__links > button:hover {
  background-color: #16c79a;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: white;
}
.login__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}
.login__username > input {
  font-size: 1.5rem;
  width: 85%;
  padding: 10px;
  margin: 1rem 5%;
  border: none;
}

.login__password > input {
  font-size: 1.5rem;
  width: 85%;
  padding: 10px;
  margin: 1rem 5%;
  border: none;
}

.login__button > button {
  font-size: 1.5rem;
  width: 90%;
  padding: 10px;
  margin: 1rem 5%;
  border: none;
  color: white;
  background-color: #16c79a;
  transition: background-color 0.5s;
  font-family: "Roboto", sans-serif;
}

.login__button > button:hover {
  background-color: #1ceeb9;
  cursor: pointer;
}

.login__username > input:focus {
  outline-color: #16a79c;
}
.login__password > input:focus {
  outline-color: #16a79c;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
}
.register__field > input {
  font-size: 1rem;
  width: 85%;
  padding: 10px;
  margin: 0.3rem 5%;
  border: none;
}

.register__field > button {
  font-size: 1.2rem;
  width: 90%;
  padding: 10px 0;
  margin: 0.3rem 1.4rem;
  border: none;
  color: white;
  background-color: #16c79a;
  transition: background-color 0.5s;
  font-family: "Roboto", sans-serif;
}

.home__register {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0.5rem;
  height: 100%;
}

.register__title {
  display: flex;
  justify-content: center;
}

.link__container {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  margin: 1rem 0;
}

.musimu {
  font-family: "Righteous", cursive;
  font-size: 36px;
  color: white;
  padding: 10px;
}
.app {
  min-height: 100vh;
  display: grid;
  background: linear-gradient(
    90deg,
    rgba(158, 227, 249, 1) 0%,
    rgba(99, 231, 125, 1) 100%
  );
  grid-template-columns: 14% 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar main";
}
.sidebar {
  background-color: #19456b;
  position: relative;
  grid-area: sidebar;
}

.sidebar__container {
  position: fixed;
  background-color: #19456b;
  width: 270px;
  left: 0;
  top: 0;
  z-index: 0;
}
.main {
  grid-area: main;
  z-index: 1;
  background-color: white;
}

.header {
  display: flex;
  z-index: 10;
  grid-area: header;
  position: relative;
}
.header__container {
  align-items: center;
  background-color: #16c79a;
  width: 86%;
  display: flex;
  flex-direction: row;
  position: fixed;
}
.header__brand {
  display: flex;
  align-items: center;
  flex: 1;
}

.header__navbar {
  justify-content: space-between;
}

.body {
  margin-top: 60px;
  z-index: 1;
  background-color: white;
}
.dashboard {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex: 1;
  background-color: white;
}

.dashboard__classrooms {
  width: 95%;
}
.dashboard__main {
  flex: 1;
}

.dashboard__head {
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 10px;
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    rgba(222, 249, 242, 1) 0%,
    rgba(113, 225, 255, 1) 100%
  );
}
.dashboard__teacher {
  display: flex;
  margin: 0.3rem;
  align-content: center;
}
.teacher__name {
  align-self: center;
  margin: 0 10px;
}

.dashboard__students {
  padding: 20px;
}

.head__buttons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 20px;
}

.head__buttons > button {
  border: 1px solid black;
  background-color: white;
  height: 3rem;
  border-radius: 10px;
}
.dashboard__grid {
  display: grid;
  width: 100%;
  padding: 1rem;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(4, 1fr);
}
.dashboard__card {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  cursor: pointer;
  justify-items: center;
  object-fit: contain;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: opacity 0.5s;
}
.dashboard__card:hover {
  opacity: 80%;
}
.card__img > img {
  border-radius: 15px 15px 0 0;
  width: 100%;
}
.card__detail {
  margin: 10px;
}

.dashboard__announcement {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  width: 350px;
  background-color: white;
  height: 740px;
  border-radius: 25px 0 0 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.dashboard__students {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  height: 400px;
}

.studentlist {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.studentlist > input {
  margin: 10px 0;
  font-size: large;
  height: 2rem;
  border: none;
  border-bottom: 1px solid black;
}

.studentlist > input:focus {
  outline: none;
}

.studentlist__students {
  background-color: white;
  overflow-y: scroll;
}

.studentlist__student {
  display: flex;
  align-content: center;
  padding: 10px;
  transition: background-color 0.4s;
  border-bottom: 1px solid #999999;
  cursor: pointer;
}

.studentlist__student:hover {
  background-color: #16c79a;
}

.studentlist__student > p {
  align-self: center;
  margin: 0 10px;
}

.dashboard__students-search {
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  overflow-y: scroll;
}

.dashboard__students-profile {
  border-radius: 10px;
  background-color: #19456b;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.announcement__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  color: white;
  background-color: #19456b;
  border-radius: 25px 0 0 0px;
}

.announcements {
  display: flex;
  flex-direction: column;
  height: 710px;
}
.announcement__details {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.announcement__row {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  cursor: pointer;
}
.announcement {
  transition: background-color 0.5s;
  padding: 0.3rem 0;
}
.announcement:hover {
  background-color: #16c79a;
}
.announcement__list {
  flex: 1;
}
.announcement__container {
  flex: 1;
}
.announcement__footer {
  margin: 0.5rem 1rem;
}

.announcement__create {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.announcement__fields {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.announcement__fields > input {
  margin-bottom: 10px;
}

.announcement__fields > textarea {
  margin-bottom: 10px;
}

.announcement__post > button {
  background-color: #19456b;
  padding: 15px;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: 200px;
  transition: all 0.5s;
  transition-property: background-color, width;
}

.announcement__post > button:hover {
  background-color: #2a6eaa;
  width: 465px;
}

.classroom__create-select {
  margin: 20px;
}

.classroom__detail {
  margin: 1rem;
}

.classroom__name {
  margin: 0.3rem 0;
}
.enrollments__tab {
  display: flex;
  background-color: white;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

.enrollments__studentlist {
  flex: 1;
}
.enroll__card {
  display: flex;
  height: 400px;
  flex-direction: column;
  background-color: #041829;
  color: white;
  padding: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.enroll__card > img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  object-position: 80% 20%;
  margin: 0.3rem;
}

.enroll__details {
  margin: 0 0.3rem;
  flex: 1;
}

.enroll__card > button {
  border: none;
  height: 3rem;
  cursor: pointer;
  background-color: #0e8fff;
  font-weight: 500;
  color: white;
  transition: background-color 0.5s;
  border-radius: 5px;
}

.enroll__card > button:hover {
  background-color: #01569b;
}

.modules {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.module__item {
  display: flex;
  align-items: center;
  margin: 0.3rem;
  padding: 0.3rem;
  cursor: pointer;
}

.module__item:hover {
  background-color: #16c79a;
}

.module__name {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.module__link {
  display: flex;
  align-items: center;
}
.module__link > a {
  text-decoration: none;
  color: black;
  margin-left: 0.2rem;
}

.module__detail {
  display: flex;
  flex-direction: column;
}
.quizlist {
  width: 50%;
}

.quizlist > h3 {
  padding: 1rem 0;
}

.quizlist__item {
  display: flex;
  justify-content: space-between;

  padding: 1rem 0.5rem;
  border-bottom: 1px solid black;
  transition: background-color 0.5s;
}

.quizlist__item:hover {
  background-color: #16c79a;
}

.quizlist__item > button {
  background-color: #19456b;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

.quizViewer {
  margin: 3rem 0 0 0;
}

.quiz__question {
  background: linear-gradient(
    90deg,
    rgba(188, 241, 211, 1) 25%,
    rgba(175, 208, 250, 1) 79%
  );
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  margin: 1rem 0;
}
.question {
  flex: 1;
  margin: 1rem 0;
}
.choices {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.choices__row {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 10px;
}

.choices__item > span {
  margin-left: 0.4rem;
}

.choices__item > input:hover {
  cursor: pointer;
}

.quiz__submit > button {
  padding: 0.5rem;
  width: 20%;
  border: none;
  background-color: #16c79a;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s;
}

.quiz__submit > button:hover {
  background-color: #0f8668;
}
.quiz__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.createQuiz {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: white;
}

.createQuiz__question {
  background: linear-gradient(
    90deg,
    rgba(188, 241, 211, 1) 25%,
    rgba(175, 208, 250, 1) 79%
  );
  padding: 1rem 2rem;
  margin: 1rem 0;
  border-radius: 5px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.createQuiz__choicesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.createQuiz__choiceAnswer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.createQuiz__addChoice {
  background: linear-gradient(
    90deg,
    rgba(195, 255, 252, 1) 25%,
    rgba(241, 255, 220, 1) 79%
  );
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid black;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modules {
  padding: 2rem;
}

.module__upload {
  margin: 5rem 0;
}

.upload__input {
  display: flex;
  flex-direction: column;
}

.module__file > input#file-upload-button {
  background-color: #16c79a;
}

.module__file > input {
  font-size: large;
  margin: 0.5rem;
}

.enrolled__table {
  margin: 5rem 0;
}

.profile {
  display: flex;
}

.profile__photo {
  display: flex;
  margin: 3rem;
}

.profile__photo > img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 250px;
  border: 10px solid #19456b;
}
.profile__card {
  width: 70%;
  margin: 3rem;
  background: linear-gradient(
    90deg,
    rgba(158, 227, 249, 1) 0%,
    rgba(185, 244, 196, 1) 99%
  );
  border-radius: 10px;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #16c79a;
}

.inbox {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inbox__container {
  flex: 1;
  background-color: #76aad8;
  display: flex;
  flex-direction: row;
}

.inbox__senders {
  width: 20%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(114, 114, 114);
  overflow-y: scroll;
}

.inbox__senders-head {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #383838;
  color: white;
}

.inbox__content {
  background-color: #999999;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.inbox__head {
  height: 10%;
  background-color: #19456b;
  display: flex;
  color: white;
  align-items: center;
  padding: 0 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inbox__body {
  background: linear-gradient(
    180deg,
    rgba(77, 188, 250, 1) 0%,
    rgba(26, 201, 158, 1) 100%
  );
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: scroll;
}

.inbox__newMessage {
  border-top: 1px solid rgb(133, 133, 133);
  height: 70px;
  background-color: rgb(255, 255, 255);
  display: flex;
}

.inbox__newMessage > input {
  flex: 1;
  border: none;
  padding: 0px 20px;
  font-size: large;
}
.inbox__newMessage > input:focus {
  outline: none;
}

.inbox__newMessage > button {
  width: 10%;
  border: none;
  border-radius: 10px;
  margin: 5px;
}
.inbox__newMessage > button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.teacher__container {
  padding: 3rem;
}

.MuiListItemIcon-root > svg {
  color: #16c79a;
}

.messageBoard {
  height: 470px;
  width: 100%;
  background-color: #16c79a;
  margin-bottom: 1rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.messageBoard__header {
  height: 10%;
  display: flex;
  align-items: center;
  background-color: rgb(228, 228, 228);
  padding: 5px 15px 0 15px;
  border-radius: 15px 15px 0 0;
}

.messageBoard__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(77, 188, 250, 1) 0%,
    rgba(26, 201, 158, 1) 100%
  );
  overflow-y: scroll;
}
.messageBoard__send {
  height: 10%;
  background-color: white;
  border-radius: 0 0 15px 15px;
}

.messageBoard__message {
  padding: 10px;
  display: flex;
  align-items: center;
}

.messageBoard__sender {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  background-color: white;
  padding: 5px 30px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.messageBoard__send {
  display: flex;
  border-radius: 0 0 15px 15px;
  padding: 10px;
}
.messageBoard__send > input {
  width: 90%;
  margin: 5px;
  border: none;
  padding: 10px;
}
.messageBoard__send > button {
  width: 10%;
  height: 50px;
  border: none;
  border-radius: 15px;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.messageBoard__send > button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.messageBoard__send > input:focus {
  outline: 1px solid rgb(212, 212, 212);
}

.messageBoard__send > button:focus {
  background: linear-gradient(
    180deg,
    rgba(77, 188, 250, 1) 0%,
    rgba(26, 201, 158, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  outline: none;
  color: white;
}

.convo__partner {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 1rem;
  transition: background-color 0.3s;
}

.convo__partner:hover {
  background-color: rgb(192, 189, 189);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  z-index: 1;
}

.convo__partner:active {
  background-color: #16c79a;
  color: white;
}

.selected-item {
  background-color: #16c79a;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
}

.selected-item:hover {
  background-color: #16c79a;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  z-index: 1;
}

.inbox__message {
  display: flex;
  align-items: center;
  padding: 5px;
}

.inbox__message > svg {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
}

.self {
  display: flex;
  justify-content: flex-end;
}

.inbox__message-text {
  background-color: #c9c9c9;
  padding: 1rem;
  border-radius: 25px;
  margin: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
